<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>vérification du code</title>
   <link rel="stylesheet" href="/styles.css">
</head>
<body class="pages_log">
    <div class="container">
        <a href="/" class="logo">
            <img src="/images/securit_logo.png" alt="Logo Securit">
        </a>

        <p class="instruction" >
            Mot de passe oublié<br>
            <p class="info_precise">Entrez votre adresse mail pour recevoir un code de confirmation</p>
        </p>
        <form method='POST' action="/check_forgotten_password" >
            <label>Email <br>
                <input type="email" placeholder="abc@exemple.com" name="email" required class="champs">
            </label>

            <input class="bouton" type="submit" value ="continuer">
        </form>
    </div>
</body>
</html>
