<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <title>Nouvelle entreprise</title>
   <link rel="stylesheet" href="/styles.css">
</head>
<body>

<header>
    <div class="avatar">
        <a href="/visit_list">
            <img class="img_header" src="/images/avatar.jpg" alt="Avatar Lambda">
        </a>
        <p class="info_affichee" ><%= name %></p>
    </div>
    <a href="/visit_list">
        <img class="img_logo" src="/images/securit_logo.png" alt="Logo Securit">
    </a>
    <form action="/logout" method="POST" class="logout-form">
        <button type="submit" class="button logout-button">
            Déconnexion
        </button>
    </form>

</header><br>

<main class="form-page">
    <div class="form-container">
        <h2 class="titres_pages">Créer une nouvelle entreprise</h2>

        <form method="POST" action="/check_new_company">
            <label>Nom</label>
            <input type="text" name="name" required class="champs">

            <label>Adresse</label>
            <input type="text" name="address" required class="champs">

            <input type="submit" class="bouton" value="Créer l’entreprise">
        </form>
    </div>
</main>

</body>
</html>
