<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Nouvelle visite</title>
   <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <div class="avatar">
            <a href="/visit_list">
                <img class="img_header" src="/images/avatar.jpg" alt="Avatar Lambda">
            </a>
            <p class="info_affichee" ><%= name %></p>
        </div>
        <a href="/visit_list">
            <img class="img_logo" src="/images/securit_logo.png" alt="Logo Securit">
        </a>
        <form action="/logout" method="POST" class="logout-form">
            <button type="submit" class="button logout-button">
                Déconnexion
            </button>
        </form>
    </header>

    <main class="form-page">
        <div class="form-container">
            <h2 class="titres_pages">Nouvelle visite</h2>

            <form method="POST" action="/check_new_visit">

                <label>Date</label>
                <input type="date" name="date" required class="champs">

                <label>Entreprise</label>
                <select name="company_id" required class="champs">
                    <option value="">-- Choisir une entreprise --</option>
                    <% companies.forEach(company => { %>
                        <option value="<%= company.id %>"><%= company.name %></option>
                    <% }) %>
                </select>


                <label>Compte-rendu</label>
                <textarea
                    name="report"
                    rows="8"
                    maxlength="500"
                    placeholder="Décrivez la visite..."
                    required
                    class="champs"
                ></textarea>

                <input class="bouton" type="submit" value="Créer la visite">
            </form>
        </div>
    </main>
    
</body>
</html>
