<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Création du compte</title>
   <link rel="stylesheet" href="/styles.css">
</head>
<body class="pages_log">
    <div class="container">
        <a href="/" class="logo">
            <img src="/images/securit_logo.png" alt="Logo Securit">
        </a>

        <p class="instruction" >
            Création du compte<br>
        </p>
        <form method='POST' action="/check_register" >
            <label>Email <br>
                <input type="email" name='email' placeholder="abc@exemple.com" required class="champs">
            </label>

            <p class="echec"><%= error_message %></p>

            <input class="bouton" type="submit" value ="continuer">
        </form>
        <a href="/" class="alternative">
            <p>Connexion</p>
        </a>


    </div>
</body>
</html>
