<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>login</title>
   <link rel="stylesheet" href="/styles.css">
</head>
<body class="pages_log">
    <div class="container">
        <a href="/" class="logo">
            <img src="/images/securit_logo.png" alt="Logo Securit">
        </a>

        <p class="info_affichee" >
            tblt@yopmail.fr<br>
        </p>

        <p class="instruction" >
            Entrez votre nom et choisissez votre mot de passe<br>
        </p>

        <form method='POST' action="/check_name_password">

            <label>Nom <br>
                <input type="text" name="name" placeholder="Votre nom" required class="champs">
            </label>
            
            <label>Mot de passe <br>
                <input type="password" name="password1" placeholder="*************" required class="champs">
            </label>

            <label>Mot de passe (confirmer)<br>
                <input type="password" name="password2" placeholder="*************" required class="champs">
            </label>

            <input type="hidden" name="email" value="<%= email %>">

            <p class="echec"><%= error_message %></p>

            <input class="bouton" type="submit" value ="Créer compte">

        </form>

    </div>

</body>
</html>
